.event-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: var(--border-standard);
  border-radius: var(--radius-l);
  flex: 0 1 350px;
  gap: var(--gap-m);
  justify-content: space-around;
  transition: scale var(--transition-speed);
  background-color: var(--color-bg);
}

.event-card:hover {
  scale: 1.01;
}

.event-title {
  color: var(--color-accent);
}

.event-content {
  display: flex;
  flex-direction: column;
  min-height: 140px;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.event-emoji {
  font-size: 1.25rem;
}

.event-tickets {
  font-weight: var(--font-weight-bold);
}

.event-category {
  background-color: var(--color-accent-hover);
  padding: 4px 8px;
  border-radius: var(--radius-m);
  width: fit-content;
  color: var(--color-accent);
}

.event-buy-button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-accent);
  border: var(--border-standard);
  border-radius: var(--radius-m);
  cursor: pointer;
  transition: background-color var(--transition-speed);
  font-weight: var(--font-weight-bold);
}

.event-buy-button:not(:disabled):hover {
  background-color: var(--color-accent-hover);
}

.event-buy-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.status-sold-out {
  color: #9c2121;
}

.status-available {
  color: #1d633a;
}

.tabs-menu {
  display: flex;
  gap: 10px;
}

.tab-button {
  background: transparent;
  border: none;
  border-bottom: var(--border-standard);
  color: var(--color-accent);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.tab-button:hover {
  background-color: var(--color-accent-hover);
}

.tab-button.active {
  background-color: var(--color-accent-hover);
  border: none;
  border-bottom: 2px solid var(--color-accent);
  opacity: 0.5;
  cursor: not-allowed;
}

.event-description-tab {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.description-text {
  font-size: 0.9rem;
  line-height: 1.4;
}

.ticket-stats {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
