.event-card {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  border: 2px solid darkblue;
  border-radius: 12px;
  background-color: rgba(41, 58, 125, 0.2);
  flex: 1;
  gap: 16px;
  justify-content: space-around;
  transition: scale;
  transition-duration: 300ms;
  background-color: white;
}

.event-card:hover {
  scale: 1.01;
}

.event-title {
  color: rgb(41, 58, 125);
}

.event-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-emoji {
  font-size: 1.25rem;
}

.event-category,
.event-tickets {
  font-weight: 700;
}

.event-buy-button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: rgb(41, 58, 125);
  border: 2px solid rgb(41, 58, 125);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color;
  transition-duration: 300ms;
  font-weight: 700;
}

.event-buy-button:hover {
  background-color: rgba(41, 58, 125, 0.4);
}
