.navigation {
  background-color: var(--color-bg);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 40px 4px 100px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
}

.nav-menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-left: var(--gap-l);
}

.nav-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-to-the-left {
  justify-content: flex-start;
}

.login-container {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--color-accent);
  transition: all var(--transition-speed);
}

.link:hover {
  scale: 1.05;
}

.event-link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
}

.nav-to-the-left {
  display: flex;
  gap: var(--gap-l);
  align-items: center;
}

.nav-to-the-right {
  display: flex;
  gap: var(--gap-l);
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.user-nav {
  color: var(--color-accent);
  font-size: 0.8rem;
}

.logout-btn {
  background-color: transparent;
  color: var(--color-accent);
  border: var(--border-standard);
  border-radius: var(--radius-m);
  padding: 2px 8px;
  cursor: pointer;
  transition: all var(--transition-speed);
}

.logout-btn:hover {
  scale: 1.05;
}

.cart-icon-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 36px;
  height: auto;
}

.cart-badge {
  position: absolute;
  bottom: -4px;
  right: -8px;

  background-color: var(--color-accent);
  color: var(--color-bg);
  font-size: 11px;
  font-weight: bold;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 2px solid white;
}

.burger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger-bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger-btn.open .burger-bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger-btn.open .burger-bar:nth-child(2) {
  opacity: 0;
}
.burger-btn.open .burger-bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navigation {
    padding: 4px 20px;
    position: relative;
  }

  .burger-btn {
    display: flex;
  }

  .nav-menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-bg);
    flex-direction: column;
    gap: 24px;
    padding: 30px 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    margin-left: 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 9;
  }

  .nav-menu-wrapper.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-to-the-left,
  .nav-to-the-right,
  .login-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
  }

  .user-container {
    align-items: center;
  }
}
