:root {
  --color-accent: rgb(41, 58, 125);
  --color-accent-dark: darkblue;
  --color-accent-soft: rgba(41, 58, 125, 0.2);
  --color-accent-hover: rgba(41, 58, 125, 0.4);
  --color-bg: white;
  --color-error: #ff4d4f;
  --border-standard: 2px solid rgb(41, 58, 125);
  --radius-l: 12px;
  --radius-m: 10px;

  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 30px;

  --transition-speed: 300ms;

  --font-main: Arial, Helvetica, sans-serif;
  --font-weight-bold: 700;
}
